<script type="text/javascript">
// <![CDATA[

function hideElement(name) {
  var element = document.getElementById( name );  
  if (!(element.style.display == "none"))
    with ( element ) {
      style.display = "none";
    }
  else
    with ( element ) {
      style.display = "inline-table";
    }
}
// ]]>
</script>

<% if HostTasklist.all.empty? %>
  <ul>
    <li> <b>No Tasklist-Data available</b>
  </ul>
<% else %>

<div class="divTable">
  <div class="rowContent">
    <div class="cell" style="padding-right:15px;">
      <h3>Active Connections</h3>
    </div>
    <div class="cell">
      <form name="example" action="#" onsubmit='hideElement("active-connection"); return false'>
          <input type="submit" name="submit" value="+"/>
      </form>
    </div>
  </div>
</div>

<table id="active-connection" style="display:none">
  <tr>
    <th>protocol</th>
    <th>local_address</th>
    <th>remote_address</th>
    <th>status</th>
    <th>pid</th>
  </tr>
  <% HostActiveConnection.all.each do |tupel| %>
    <tr>
      <td class="huhu1"><%= tupel.protocol %></td>
      <td class="huhu1"><%= tupel.local_address %></td>
      <td class="huhu1"><%= tupel.remote_address %></td>
      <td class="huhu1"><%= tupel.status %></td>
      <td class="huhu1"><%= tupel.pid %></td>
   </tr>
  <% end %>
  </table>
<% end %>
