
  <table>
  <tr>
    <th>Ip</th>
    <th>Mac</th>
    <th>OS</th>
    <th>OS-Flavor</th>
    <th>OS-SP</th>
    <th>Language</th>
    <th>Architecture</th>

  </tr>
    <tr>
      <td><%= @host.address %></td>
      <td><%= @host.mac %></td>
      <td><%= @host.os_name%></td>
      <td><%= @host.os_flavor%></td>
      <td><%= @host.os_sp%></td>
      <td><%= @host.os_lang%></td>
      <td><%= @host.arch%></td>
   </tr>
  </table>
