<table>
  <tr>
    <th>Service name</th>
    <th>Port</th>
    <th>Port type</th>
    <th>Port state</th>
    <th>Service info</th>
    <th>&nbsp;</th>
  </tr>
  <% services.each do |service| %>
    <% if service.exploited? %>
      <tr class="exploited">
    <% else %>
      <tr>
    <% end %>
      <td>
        <% if service.exploited? %>
          (Exploited)
        <% end %>
        <%= service.name %>
      </td>
      <td><%= service.port %></td>
      <td><%= service.proto %></td>
      <td><%= service.state %></td>
      <td><%= service.info %></td>
      <td>
      <% if !service.interface.host.localhost && !host.exploited? %>
          <a class="ui-button" class="exploit_service">Exploit</a>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
<script>
	$(function() {
    $("#meterpreter-shell").click(function() { open_console(); });
    $("#install-persistence").click(function() { $("#install-persistence").attr('disabled', 'disabled' ).addClass( 'ui-state-disabled' ); });
  });
</script>
