<h2>Services</h2>
<table>
  <tr>
    <th>Service name</th>
    <th>Port</th>
    <th>Port type</th>
    <th>Port state</th>
    <th>Service info</th>
  </tr>
  <% services.each do |service| %>
    <tr<%= service.exploited? ? 'class="exploited"' : '' %>>
      <td><%= service.name %></td>
      <td><%= service.port %></td>
      <td><%= service.proto %></td>
      <td><%= service.state %></td>
      <td><%= service.info %></td>
    </tr>
  <% end %>
</table>
