<h2>Sessions</h2>

<% if sessions.empty? %>
  <p>No sessions available</p>
<% else %>
  <table>
  <tr>
    <th>Exploit name</th>
    <th>Payload name</th>
    <th>Exploited at</th>
    <th>Service</th>
  </tr>
  <% sessions.each do |session| %>
    <tr>
      <td><%= session.name %></td>
      <td><%= session.payload %></td>
      <td><%= session.created_at %></td>
      <td><%= (session.service != nil) ? session.service.name : nil %></td>
      <td>
        <% form_tag arpscannsession_tasks_url do |f| %>
          <%= hidden_field_tag 'sessionID', session.session_uuid %>
          <%= submit_tag :arpscannsession %>
        <% end %>
      </td>
      <td>
        <% form_tag execreconnaissance_tasks_url do |f| %>
          <%= hidden_field_tag 'sessionID', session.session_uuid %>
          <%= submit_tag :pry %>
        <% end %>
      </td>
      <td>
        <% form_tag installpersistence_tasks_url do |f| %>
          <%= hidden_field_tag 'sessionID', session.session_uuid %>
          <%= submit_tag :installpersistence %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
