<% if sessions.empty? %>
  <p>No sessions available</p>
<% else %>
  <table>
  <tr>
    <th>Exploit name</th>
    <th>Payload name</th>
    <th>Exploited at</th>
    <th>Service</th>
  </tr>
  <% sessions.each do |session| %>
    <tr>
      <td><%= session.name %></td>
      <td><%= session.payload %></td>
      <td><%= session.created_at %></td>
      <td><%= (session.service != nil) ? session.service.name : nil %></td>
    </tr>
  <% end %>
  </table>

<h2>Jobs</h2>

<table>
  <tr>
    <td>
      <% sessions.each do |session| %>
      <td><%= session.service.name %></td>
      <td>

      </td>
      <td>
      </td>
      <td>
      <% end %>
    </td>
  </tr>
</table>

<% end %>


