%dl
  %dt= "ID"
  %dd= @bot[:id]
  %dt= "Hostname"
  %dd= @bot[:hostname]
  %dt= "IP"
  %dd= @bot[:ip]
  %dt= "last seen"
  %dd= @bot[:last_seen]
  %dt= "actions"
  %dd
    %a{:href => "/sessions"}= "back"
    %a.delete{:href => "/session/#{@bot[:id]}"}= "del"
