%table
  %tr
    %thead
      %th= "ID"
      %th= "Hostname"
      %th= "IP"
      %th= "last seen"
      %th= "actions"
    %tbody
    - DB[:bots].each do |bot|
      %tr
        %td= bot[:id]
        %td= bot[:hostname]
        %td= bot[:ip]
        %td= bot[:last_seen]
        %td
          %a{:href => "/session/#{bot[:id]}"}= "info"
          %a.delete{:href => "/session/#{bot[:id]}"}= "del"
    - if DB[:bots].count == 0
      %tr
        %td{:colspan => 5}= "No entries found."

