<table width="100%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Progress</th>
    <th>Start</th>
    <th>&nbsp;</th>
  </tr>
<% @tasks.each do |task| %>
  <tr id="task_row_<%= task.id %>">
    <td><%= task.id %></td>
    <td><%= task.name %></td>
    <td><div id="progressbar<%= task.id %>"></div></td>
    <td><%= l task.created_at %></td>
    <td><a id="close_task_<%= task.id %>" href="#" role="button"><span class="ui-icon ui-icon-closethick">close</span></a></td>
  </tr>
<% end %>
</table>
<script>
  <%= render :partial=>"tasks/update_taskbars" %>
  <% @tasks.each do |task| %>
	  $(function() {
      $("#close_task_<%= task.id %>").button();
		  $("#close_task_<%= task.id %>").click(function() {
        if(parseInt($('#progressbar<%= task.id %>').progressbar( "option", "value" )) == 100){
          $('#task_row_<%= task.id %>').fadeOut();
        }
      });
	  });
  <% end %>
</script>
