<h1>Task: <%= @task.module %></h1>

<h2>Matching Prelude to Metasploit</h2>

<% @task.prelude_logs.each do |pe| %>
<div class="match">
  <table class="prelude_event">
    <tr>
      <th>Event</th>
      <td><%= link_to pe.text, pe %></td>
    </tr>
    <tr>
      <th>PayloadSize</th>
      <td><%= pe.payload.size %></td>
    </tr>
    <tr>
      <th>DetectTime</th>
      <td><%= pe.detect_time %></td>
    </tr>
    <tr>
      <th>Analyer</th>
      <td><%= pe.analyzer_model %></td>
    </tr>
    <tr>
      <th>Scr</th>
      <td><%= pe.src_ip %>:<%= pe.src_port %></td>
    </tr>
    <tr>
      <th>Dst</th>
      <td><%= pe.dest_ip %>:<%= pe.dest_port %></td>
    </tr>
    <tr>
      <th>Severity</th>
      <td><%= pe.severity %></td>
    </tr>
    <tr>
      <th>Ident</th>
      <td><%= pe.ident %></td>
    </tr>
  </table>

  <div class="msf_exploit">
    <% pe.get_payloads_logs.each do |pl| %>
      <% payload = pl %>
      <table>
        <tr>
          <th>Exploit</th>
          <th>(<%= payload.id %>) <%= link_to payload.exploit, payload %></th>
          <th>diff</th>
        </tr>
        <tr>
          <th>Payloadsize</th>
          <td><%= payload.payload.size %></td>
          <td><%= payload.payload.size - pe.payload.size %></td>
        </tr>
        <tr>
          <th>Time</th>
          <td><%= payload.created_at %></td>
          <td><%= payload.created_at - pe.detect_time %></td>
        </tr>
        <tr>
          <th>Src</th>
          <td><%= payload.src_addr %>:<%= payload.src_port %></td>
          <td></td>
        </tr>
        <tr>
          <th>Dst</th>
          <td><%= payload.dest_addr %>:<%= payload.dest_port %></td>
          <td></td>
        </tr>
      </table>

    <% end %>
  </div>
  <hr class="clear" />
</div>
<% end %>

<h2>Metaploit Logging (used exploit with payload size)</h2>
<p>(<strong class="event_triggered">Exploits which triggert no event</strong>)</p>
<table>
  <tr>
    <th>ID</th>
    <th>Exploit</th>
    <th>Src</th>
    <th>Dest</th>
    <th>Payloadsize</th>
    <th>Time</th>
  </tr>
  <% @task.payload_logs.each do |payload| %>
    <% if payload.prelude_log_id == nil %>
      <tr class="event_triggered">
    <% else %>
      <tr>
    <% end %>
      <td><%= payload.id %></td>
      <td><%= link_to payload.exploit, payload %></td>
      <td><%= payload.src_addr %>:<%= payload.src_port %></td>
      <td><%= payload.dest_addr %>:<%= payload.dest_port %></td>
      <td><%= payload.payload.size %></td>
      <td><%= payload.created_at %></td>
    </tr>
  <% end %>
</table>
