<table width="100%" class="tablesorter sortable">
<thead>
<tr>
  <th>Event</th>
  <th>Source</th>
  <th>Destination</th>
  <th>Severity</th>

</tr>
</thead>
<tbody>
<% @idmef_events.each do |event| %>
<tr>
  <td><%= event[:text] %></td>
  <td><%= event[:src_ip] %></td>
  <td><%= event[:dest_ip] %></td>
  <td style="color:<%= idmef_bgcolor(event) %>"><%= event[:severity] %></td>

</tr>
<% end %>
</tbody>
</table>

<script>
$(function() {
  $(".tablesorter").tablesorter(); 
}); 
</script>
