<ul class="menulist">
  <li><%= link_to "Info", hosts_url %></li> 
  <li><%= link_to "Actions", hosts_url %></li>
  <li><%= link_to "Interact", hosts_url %></li>
</ul>
<h1><%= @host.address %></h1>
<%= @host.os_name %><%= @host.os_sp %>
<hr>
<%= render :partial => "services/services_from_host", :locals => { :services => @host.services } %>

<%= render :partial => "services/sessions_from_host", :locals => { :sessions => @host.exploited_hosts } %>

<div id="nvd_entries">
  <%= render :partial => "nvd_entries" %>
</div>
