<div id="tabs<%= @host.id %>" style="width:100%;height:100%;">
  <% if @host.name %>
  <h1><%= @host.name %></h1>
  <% else %>
  <h1><%= @host.interfaces.first.ip %></h1>
  <% end %>
  <%= @host.os_name %><%= @host.os_sp %>

	<ul>
		<li><a href="#tabs-1">Info</a></li>
		<li><a href="#tabs-2">NVD</a></li>
		<li><a href="/hosts/<%= @host.id %>/idmef_event_groups">IDMEF</a></li>
    <% if @host.exploited? %>
  		<li><a href="/hosts/<%= @host.id %>/processes">Processes</a></li>
    <% end %>
	</ul>
	<div id="tabs-1">
    <% if !@host.localhost %>
    <p><span id="stars-cap"></span>
        <div id="stars-wrapper2">
            <select id="host_rating_selectbox" name="rating">
              <% 10.times do |i|%>
                <% if i == @host.rating %>
                  <option value="<%= i %>" selected><%= i %></option>
                <% else %>
                  <option value="<%= i %>"><%= i %></option>
                <% end %>
              <% end %>
             </select>
       </div>
    </p>
    <% end %>
    <% if @host.exploited? %>
      <table width="100%">
      <tr>
        <td>Computer</td>
        <td><%= @host.name %></td>
      </tr>
      <tr>
        <td>OS</td>
        <td><%= @host.os_info %></td>
      </tr>
      <tr>
        <td>Architecture</td>
        <td><%= @host.arch %></td>
      </tr>
      <tr>
        <td>System Language</td>
        <td><%= @host.lang %></td>
      </tr>
<% if @host.webserver %>
      <tr>
        <td>Webserver</td>
        <td><%= @host.webserver %></td>
      </tr>
<% end %>
<% if @host.sessions.first and @host.sessions.first.payload %>
      <tr>
        <td>Payload</td>
        <td><%= @host.sessions.first.payload %></td>
      </tr>
<% end %>
<% if @host.sessions.first and @host.sessions.first.exploit %>
      <tr>
        <td>Exploit</td>
        <td><%= @host.sessions.first.exploit %></td>
      </tr>
<% end %>
    </table>
    <% end %>
    <br style="clear:both">
    <% @host.interfaces.each do |interface| %>
      <h2><%= interface.ip %></h2> <% if !interface.host.localhost && !@host.exploited? %>
          <a class="ui-button" class="exploit_interface" onclick="attack_interface(<%= interface.id %>);">Exploit</a>
      <% end %>
      <% if @host.exploited? || @host.localhost %>
        <a class="ui-button" onclick="reconnaissance_from_interface(<%= interface.id %>);">Reconnaissance</a>
      <% end %>
      <%= render :partial => "services/services_from_host", :locals => { :services => interface.services,:host=>@host } %>
   <% end %>

    <div class="actions_for_host">
      <% if !@host.localhost %>
        <% if !@host.exploited? %>
          <a class="ui-button" id="exploit_host">Exploit</a>
        <% end %>
        <a class="ui-button" id="send_false_positive">False Positive</a>
      <% end %>
      <br>
      <% if @host.exploited? %>
        <a class="ui-button" id="meterpreter-shell">Meterpreter-Shell</a>
      <% if @host.webserver  and !@host.sessions.empty? %>
        <a class="ui-button" onclick="booby_trapping(<%= @host.id %>);" id="booby-trapping">Booby-Trapping</a>
      <% end %>
      <% end %>
    </div>
	</div>
	<div id="tabs-2">
    <%= render :partial => "nvd_entries" %>
	</div>
</div>
<script>
	$(function() {
		$( "#tabs<%= @host.id %>" ).tabs();
	});
</script>
<script>
    $("#stars-wrapper2").stars({
        inputType: "select",
        callback: function(ui, type, value){
          jQuery.ajax('actions/rate_host',{type:'POST',data:"host_id=<%= @host.id %>&rating="+value});          
        }
    });
</script>
<script>
	$(function(interface) {

    $(".ui-button").button();
    <% if !@host.localhost %>
  		$("#exploit_host").click(function() { attack_host(<%= @host.id %>) });
    <% end %>
	});
	</script>


