<div id="tabs<%= @host.id %>" style="width:100%;height:100%;">
  <h1><%= @host.name %></h1>
  <%= @host.os_name %><%= @host.os_sp %>

	<ul>
		<li><a href="#tabs-1">Info</a></li>
		<li><a href="#tabs-2">NVD</a></li>
		<li><a href="#tabs-3">Log</a></li>
    <% if @host.exploited? %>
  		<li><a href="/hosts/<%= @host.id %>/processes">Processes</a></li>
  		<li><a href="/hosts/<%= @host.id %>/idmef_events">IDMEF</a></li>
    <% end %>
	</ul>
	<div id="tabs-1">
    <% if !@host.localhost %>
    <p><span id="stars-cap"></span>
        <div id="stars-wrapper2">
            <select id="host_rating_selectbox" name="rating">
              <% 10.times do |i|%>
                <% if i == @host.rating %>
                  <option value="<%= i %>" selected><%= i %></option>
                <% else %>
                  <option value="<%= i %>"><%= i %></option>
                <% end %>
              <% end %>
             </select>
       </div>
    </p>
    <% end %>
    <% if @host.exploited? %>
      <table width="100%">
      <tr>
        <td>Computer</td>
        <td>FIDIUS-69B8F53A</td>
      </tr>
      <tr>
        <td>OS</td>
        <td>Windows XP (Build 2600, Service Pack 2).</td>
      </tr>
      <tr>
        <td>Architecture</td>
        <td>x86</td>
      </tr>
      <tr>
        <td>System Language</td>
        <td>de_DE</td>
      </tr>
      <tr>
        <td>Meterpreter</td>
        <td>x86/win32</td>
      </tr>
    </table>
    <% end %>
    <br style="clear:both">
    <% @host.interfaces2.each do |interface| %>
      <h2><%= interface.ip %></h2>
      <%= render :partial => "services/services_from_host", :locals => { :services => interface.services2 } %>
   <% end %>

    <div class="actions_for_host">
      <% if !@host.localhost %>
        <a class="ui-button" id="exploit_host">Exploit</a>
        <a class="ui-button" id="send_false_positive">False Positive</a>
      <% end %>
      <% if @host.exploited? %>
        <a class="ui-button" id="reconnaissance">Reconnaissance</a>
      <% end %>
    </div>
	</div>
	<div id="tabs-2">
    <%= render :partial => "nvd_entries" %>
	</div>
	<div id="tabs-3">
    <table>
      <tr>
        <th>Event</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>Exploit:windows/smb/ms08_067_netapi</td>
        <td><%= Time.now %></td>
      </tr>
      <tr>
        <td>Session opened (windows/meterpreter)</td>
        <td><%= Time.now %></td>
      </tr>

    </table>
	</div>
	<div id="tabs-4">
  </div>
</div>
<script>
	$(function() {
		$( "#tabs<%= @host.id %>" ).tabs();
	});
</script>
<script>
    $("#stars-wrapper2").stars({
        inputType: "select",
        callback: function(ui, type, value){
          jQuery.ajax('actions/rate_host',{type:'POST',data:"host_id=<%= @host.id %>&rating="+value});          
        }
    });
</script>
<script>
	$(function(interface) {

    $(".ui-button").button();
    <% if !@host.localhost %>
  		$("#exploit_host").click(function() { attack_host(<%= @host.id %>) });
    <% end %>

 		$("#reconnaissance").click(function() { reconnaissance_from_host(<%= @host.id %>) });
	});
	</script>


