<div id="tabs<%= @host.id %>" style="width:100%;height:100%;">
  <h1><%= @host.address %></h1>
  <%= @host.os_name %><%= @host.os_sp %>
	<ul>
		<li><a href="#tabs-1">Info</a></li>
		<li><a href="#tabs-2">NVD</a></li>
		<li><a href="#tabs-3">Log</a></li>
		<li><a href="#tabs-4">Interact</a></li>
	</ul>
	<div id="tabs-1">
    <p>
    <form>
        Rating: <span id="stars-cap"></span>
        <div id="stars-wrapper2">
            <select name="selrate">
                <option value="1">Very poor</option>
                <option value="2">Not that bad</option>
                <option value="3">Average</option>
                <option value="4" selected="selected">Good</option>
                <option value="5">Perfect</option>
                <option value="6">Perfect</option>
                <option value="7">Perfect</option>
                <option value="8">Perfect</option>
                <option value="9">Perfect</option>
                <option value="10">Perfect</option>
           </select>
       </div>
   </form>
    </p>
    <br style="clear:both">
    <%= render :partial => "services/services_from_host", :locals => { :services => @host.services } %>

    <div class="actions_for_host">
      <a href="#" class="ui-button">Autoattack</a>
      <a href="#" class="ui-button">Reconnaissance</a>
      <a href="#" class="ui-button">Remove</a>
    </div>
	</div>
	<div id="tabs-2">
    <%= render :partial => "nvd_entries" %>
	</div>
	<div id="tabs-3">
    <table>
      <tr>
        <th>Event</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>Exploit:windows/smb/ms08_067_netapi</td>
        <td><%= Time.now %></td>
      </tr>
      <tr>
        <td>Session opened (windows/meterpreter)</td>
        <td><%= Time.now %></td>
      </tr>

    </table>
	</div>
	<div id="tabs-4">
    <%= render :partial => "services/sessions_from_host", :locals => { :sessions => @host.exploited_hosts } %>
	</div>
</div>
<script>
	$(function() {
		$( "#tabs<%= @host.id %>" ).tabs();
	});
</script>
<script>
    $("#stars-wrapper2").stars({
        inputType: "select"
    });
</script>
<script>
	$(function() {
    $( "a", ".actions_for_host" ).button();
		$( "a", ".actions_for_host" ).click(function() { alert("deine mudder"); });
	});
	</script>


