<h2>Host <%= @host.name %></h2>

<%= render :partial => "services/spy_from_host", :locals => { :sessions => @host.exploited_hosts } %>

<%= render :partial => "services/general_from_host", :locals => { :sessions => @host.exploited_hosts } %>

<%= render :partial => "services/active_connections_from_host", :locals => { :sessions => @host.exploited_hosts } %>

<%= render :partial => "services/tasklist_from_host", :locals => { :sessions => @host.exploited_hosts } %>

<%= render :partial => "services/interface_from_host", :locals => { :sessions => @host.exploited_hosts } %>

<%= render :partial => "services/frfx_from_host", :locals => { :sessions => @host.exploited_hosts } %>

<%= render :partial => "services/hashdump_from_host", :locals => { :sessions => @host.exploited_hosts } %>
