<h1>Host <%= @host.name %> (<%= @host.address %>)</h1>

<%= render :partial => "services/services_from_host", :locals => { :services => @host.services } %>

<%= render :partial => "services/sessions_from_host", :locals => { :sessions => @host.exploited_hosts } %>

<%= render :partial => "services/tasklist_from_host", :locals => { :sessions => @host.exploited_hosts } %>

<%= render :partial => "services/frfx_from_host", :locals => { :sessions => @host.exploited_hosts } %>
