<ul class="menulist">
  <li>
    <%= link_to "View", hosts_url %>
    <ul>
      <li><%= link_to "Circle", hosts_url %></li>
      <li><%= link_to "Hierarchy", hosts_url %></li>
    </ul>
  </li>
  <li>
    <%= link_to "Actions", hosts_url %>
    <ul>
      <li><%= link_to "Reconnaissance", hosts_url %></li>
      <li><%= link_to "Scan", hosts_url %></li>
      <li><%= link_to "FidiusMe", hosts_url %></li>
      <li><%= link_to "Import", hosts_url %></li>
    </ul>
  </li>
  <li><%= link_to "Jobs(5)", hosts_url %></li>
  <li><%= link_to "Events(2)", hosts_url %></li>
  <li><%= link_to "MsfConsole", hosts_url %></li>
  <li><%= link_to "Credits", hosts_url %></li>
</ul>
