<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>
    FIDIUS Command&amp;Control server
    :: <%= controller.controller_name.titleize %>
    :: <%= controller.action_name.titleize %>
  </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "protovis-r3.2" %>
  <%= javascript_include_tag "jquery.ui.stars.min" %>
  <%= javascript_include_tag "jquery.mousewheel" %>
  <%= javascript_include_tag "mwheelIntent" %>
  <%= javascript_include_tag "jquery.jscrollpane.min" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.tablesorter.min" %>


  <%= javascript_include_tag "termlib/termlib.js" %>
  <%= javascript_include_tag "termhandler" %>
  <%= stylesheet_link_tag "/javascripts/termlib/term_styles.css" %>


  <%= csrf_meta_tag %>
  <script>
  var refreshId = setInterval(function() {
    update_all();
  },10000);

  </script>
</head>
<body>
<%= render :partial => "dialogs/scan_dialog" %>
<%= render :partial => "dialogs/browser_autopwn_dialog" %>
<%= render :partial => "dialogs/file_autopwn_dialog" %>
<%= render :partial => "dialogs/tasks_dialog" %>
<%= render :partial => "dialogs/standard_dialog" %>
<%= render :partial => "dialogs/console_dialog" %>
<div id="event_dialog_placeholder"></div>

<div id="header" class="shadow_border">
  <h1><%= link_to image_tag('fidius-head.png') + ' Command&Control server', :root %></h1>
</div>

<%= render :partial => "welcome/menu" %>

<% [:notice, :error].each do |type| -%>
  <% if flash[type] -%>
    <p class="<%=h type  %>"><%=h flash[type]%></p>
  <% end -%>
<% end -%>

<div class="log"></div>
<script>
</script>
<%= yield %>
</body>
</html>
